@{

    <link href="~/css/welcome.css" rel="stylesheet" />

    ViewData["Title"] = "Welcome";
    <a href="@Url.Action("Index", "FirstSlide")" class="intro-container">
        <div class="outer-circle">
            <div class="inner-circle">
                <p class="manero">MANERO</p>
            </div>
        </div>
    </a>
}
