@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}
<div class="card bg-light mt-5 mx-auto" style="max-width: 600px;">
    <div class="card-body">
        <h1 class="card-title text-center">Welcome back to Manero!</h1>
        <h3 class="card-title text-center">Please Sign in to proceed 😁</h3>
        <br />
        <form method="post" asp-action="Login">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="mb-3">
                <h4 class="card-title text-center">Enter Email:</h4>
                <input asp-for="Email" class="form-control" placeholder="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <br />
            <div class="mb-3">
                <h4 class="card-title text-center">Enter Password:</h4>
                <input asp-for="Password" class="form-control" placeholder="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <br />
            <div class="d-flex justify-content-center">
                <div class="form-group mt-2">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer text-center">
        <p>Don't have an account? <a href="@Url.Action("Index", "SignUp")">Sign up</a></p>
        <div class="social-icons">
            <a href="#"><i class="fab fa-facebook-square fa-2x"></i></a>
            <a href="#"><i class="fab fa-twitter-square fa-2x"></i></a>
            <a href="#"><i class="fab fa-google fa-2x"></i></a>
        </div>
    </div>
</div>
