@{
    ViewData["Title"] = "Welcome - Third";
    <link href="~/css/welcomeslides.css" rel="stylesheet" />
    <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="Slide-container">
            <div class="test-div">
                <a href="@Url.Action("Index", "SecondSlide")" class="to-second">
                    <div class="btn-circle">
                        <div class="left-arrow"></div>
                    </div>
                </a>
                <div class="fill"></div>
            </div>
            <div class="Slide-outer">
                <div class="Slide-inner">
                    <h1 class="Slide-header">Door to Door Delivery!</h1>
                    <div class="Slide-info">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam optio consequuntur ducimus ea!</div>
                    <div class="d-flex justify-content-center">
                        <a href="@Url.Action("Index", "Login")" class="btn btn-primary Slide-button">GET STARTED</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}